sudo: required

language: go

services:
  - docker

go:
  - 1.9.x

before_install:
  - sudo apt update -y
  - sudo apt install realpath -y
  - curl -L -s https://github.com/golang/dep/releases/download/v0.4.1/dep-linux-amd64 -o $GOPATH/bin/dep
  - chmod +x $GOPATH/bin/dep
  - gem install aruba

install:
  - ./scripts/pull-images.sh
  - go build

script:
  - ./scripts/coverage.sh
  - ./scripts/tests-functional.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)

deploy:
 provider: script
 script: cd $TRAVIS_BUILD_DIR/.equinox && ./release.sh
 on:
   branch: master