sudo: required

language: go

services:
  - docker

go:
  - 1.9.x

env:
  - LPN_COMMAND=checkContainer
  - LPN_COMMAND=checkImage
  - LPN_COMMAND=deploy
  - LPN_COMMAND=license
  - LPN_COMMAND=pull
  - LPN_COMMAND=rm
  - LPN_COMMAND=rmi
  - LPN_COMMAND=run
  - LPN_COMMAND=stop
  - LPN_COMMAND=version

before_install:
  - sudo apt update -y
  - sudo apt install realpath -y
  - curl -L -s https://github.com/golang/dep/releases/download/v0.4.1/dep-linux-amd64 -o $GOPATH/bin/dep
  - chmod +x $GOPATH/bin/dep
  - gem install aruba
  - curl https://cdn.wedeploy.com/cli/latest/wedeploy.sh -sL | bash

install:
  - |
    if [ "$LPN_COMMAND" != "license" ] && [ "$LPN_COMMAND" != "version" ]; then
      ./scripts/pull-images.sh
    fi
  - go build

script:
  - ./scripts/coverage.sh
  - mkdir bin && mv ./lpn bin/lpn && cucumber features/$LPN_COMMAND.feature

after_success:
  - bash <(curl -s https://codecov.io/bash)

deploy:
 provider: script
 script: cd $TRAVIS_BUILD_DIR/.equinox && ./release.sh
 on:
   branch: master